@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Oswald', sans-serif;
}

.sec{
    width: 100%;
    height: 80vh;
    background:linear-gradient(black,black);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}


.all{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: auto;
}

.left,.right{
    width: 100%;
}

.bottom{
    margin-top: -6px;
    width: 100%;
}

.sec .h11{
    color: white;
}

.lefts{
    text-align: center;
    position: absolute;
    top: 100px;
}

.lefts .btn{
    width: 130px;
    background: red;
    border: 1px solid transparent;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

.lefts .btn:hover{
    box-shadow: 0 0 10px black inset;
    cursor: pointer;
}

.lefts .p11{
    color: white;
    margin: 10px;
    text-align: justify;
}



@media screen and (max-width:800px) {
    .sec{
        height: auto;
    }
   .p11{
    display: none;
   }
}
